<ion-header>
  <ion-navbar hideBackButton="true">

    <ion-grid *ngIf="!isSearchbarOpened">
      <ion-row>
        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only (click)="goToInicio()">
              Home
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-auto (click)="goToPeliculas()">
          <ion-buttons>
            <button ion-button icon-only>
              Films
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only (click)="goToSeries()">
              Series
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only (click)="goToPerfil()">
              {{ nombreUsuario }}
              <ion-icon name="md-contact"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-1>
          <ion-buttons>
            <button ion-button icon-only (click)="isSearchbarOpened=true">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" (ionInput)="getItems($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-card>
    <ion-card-content class="backgroundCard">
      <ion-row class="center">
        <ion-col col-8 offset-2>
          <img [src]="contenido.poster">
        </ion-col>
        <ion-col col-6 offset-3 style="text-align: center;">
          <h1 class="titulo">{{ contenido.title }}</h1>
        </ion-col>
        <ion-col col-10>
          <ul class="rating" (keydown)="onKeyDown($event)">
            <li *ngFor="let starIndex of starIndexes" tappable (click)="rate(starIndex + 1)">
              <ion-icon [name]="getStarIconName(starIndex)">
              </ion-icon>
            </li>
          </ul>
        </ion-col>
        <ion-col col-6 offset-3>
          <ion-buttons>
            <button ion-button icon-only outline col-12 class="center" (click)="gotoreproductor()">
              Watch Trailer
            </button>
          </ion-buttons>
        </ion-col>
        <ion-col col-6 style="text-align: center;">
          <ion-label class="titulo">GENRE: </ion-label>
          <h3>{{ contenido.genre }}</h3>
        </ion-col>
        <ion-col col-6 style="text-align: center;">
          <ion-label class="titulo">YEAR: </ion-label>
          <h3>{{ contenido.year }}</h3>
        </ion-col>
        <ion-col col-12 style="text-align: center;">
          <ion-label class="titulo">DESCRIPTION: </ion-label>
          <h3>{{ contenido.description }}</h3>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>
