<ion-header>
  <ion-navbar hideBackButton="true">

    <ion-grid *ngIf="!isSearchbarOpened">
      <ion-row>
        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only>
              Home
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only (click)="goToPeliculas()">
              Films
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only (click)="goToSeries()">
              Series
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only (click)="goToPerfil()">
              {{ usuario }}
              <ion-icon name="md-contact"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-1>
          <ion-buttons>
            <button ion-button icon-only (click)="isSearchbarOpened=true">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" (ionInput)="getItems($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list *ngIf="isSearchbarOpened">
    <button ion-item *ngFor="let item of items" (click)="showDetail(item)">
      {{ item }}
    </button>
  </ion-list>

  <ion-card>
    <ion-card-header>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h1 class="titulo">
               Welcome, {{ usuario }}!
            </h1>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col col-12>
            <h3 class="titulo">Movies seen:</h3>
            <a *ngIf="seeAll" class="alinearDerecha" (click)="goToSeeAll('peliculaVista')">see all</a>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <ion-thumbnail item-start>
                    <img [src]="peli1">
                  </ion-thumbnail>
                </ion-col>
                <ion-col col-4>
                  <ion-thumbnail item-start>
                    <img [src]="peli2">
                  </ion-thumbnail>
                </ion-col>
                <ion-col col-4>
                  <ion-thumbnail item-start>
                    <img [src]="peli3">
                  </ion-thumbnail>
                </ion-col>
              </ion-row>

              <ion-row>
                <ion-col col-4>
                  <h2 class="center">{{ titulo1 }}</h2>
                </ion-col>
                <ion-col col-4>
                  <h2 class="center">{{ titulo2 }}</h2>
                </ion-col>
                <ion-col col-4>
                  <h2 class="center">{{ titulo3 }}</h2>
                </ion-col>
              </ion-row>
            </ion-grid>

            <h3 class="titulo2">Series seen:</h3>
            <ion-grid>
              <ion-row>
                <ion-col col-4>
                  <ion-thumbnail item-start class="slide-image">
                    <img [src]="serie1">
                  </ion-thumbnail>
                </ion-col>
                <ion-col col-4>
                  <ion-thumbnail item-start>
                    <img [src]="serie2" class="slide-image">
                  </ion-thumbnail>
                </ion-col>
              </ion-row>
            
              <ion-row>
                <ion-col col-4>
                  <h2 class="center">{{ titulo4 }}</h2>
                </ion-col>
                <ion-col col-4>
                  <h2 class="center">{{ titulo5 }}</h2>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>