<ion-header>
  <ion-navbar hideBackButton="true">

    <ion-grid *ngIf="!isSearchbarOpened">
      <ion-row>
        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only (click)="goToInicio()">
              Home
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only>
              Films
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only (click)="goToSeries()">
              Series
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-auto>
          <ion-buttons>
            <button ion-button icon-only (click)="goToPerfil()">
              {{ usuario }}
              <ion-icon name="md-contact"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

        <ion-col col-1>
          <ion-buttons>
            <button ion-button icon-only (click)="isSearchbarOpened=true">
              <ion-icon name="search"></ion-icon>
            </button>
          </ion-buttons>
        </ion-col>

      </ion-row>
    </ion-grid>

    <ion-searchbar *ngIf="isSearchbarOpened" showCancelButton="true" (ionCancel)="isSearchbarOpened=false" (ionInput)="getItems($event)">
    </ion-searchbar>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-item>
    <ion-label>Films Genre</ion-label>
    <ion-select [(ngModel)]="gaming" interface="popover">
      <ion-option value="nes">Acción y aventura</ion-option>
      <ion-option value="n64">Ciencia ficción</ion-option>
      <ion-option value="ps">Comedia</ion-option>
      <ion-option value="genesis">Crimen</ion-option>
      <ion-option value="saturn">Deportes</ion-option>
      <ion-option value="snes">Dibujos animados</ion-option>
      <ion-option value="snes">Documentales</ion-option>
      <ion-option value="snes">Drama</ion-option>
      <ion-option value="snes">Fantasía</ion-option>
      <ion-option value="snes">Misterio</ion-option>
      <ion-option value="snes">Terror</ion-option>
      <ion-option value="snes">Thriller</ion-option>
    </ion-select>

  </ion-item>

</ion-content>
